# hidden files
.idea
.gradle/
.vscode/
*.iml

# output folders
bin/
build/

# files ignored by extension
*.class
*.DS_Store
deleteme/

# temporary latex files
*.toc
*.gz
*.log
*.fls
*.aux
*.fdb_latexmk
*.out
*.bbl
*.blg